{% extends 'base.html' %}

{% block content %}
    <div style="height: 87.5vh">
        <div class="container animated fadeIn my-5 py-5 z-depth-1">
            <h2 class="display-4">Categorized Dataset</h2>
            <hr>
            {% if err == "" %}
                <p>This dataset contains just zeros and ones. Each variable is now categorical.</p>
                <p>Numerical variables have been transformed looking at his quartiles (25, median and 75)</p>
                <p>No special symbols (apart from '_') are allowed</p>
                <div class="col-md-12 align-items-center animated fadeIn">
                    <div class="table-wrapper-scroll-x categorizedTable">
                        {{ dfView|safe }}
                    </div>
                </div>
                <hr>
                <!-- Material form row -->
                <form method="get" action="{% url 'start_disc' file %}">
                    <!-- Grid row -->
                    <div class="form-row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <h5 class="font mb-4" style="color: #d9534f;">Select positive decision variable name:</h5>
                            <select name="positiveDrop" class="browser-default custom-select">
                                <option selected>{{ pos }}</option>
                                <option value={{ neg }}>{{ neg }}</option>
                            </select>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <h5 class="font mb-4" style="color: #d9534f;">Select negative decision variable
                                    name:</h5>
                                <select name="negativeDrop" class="browser-default custom-select">
                                    <option selected>{{ neg }}</option>
                                    <option value={{ pos }}>{{ pos }}</option>
                                </select>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                    <button title="Start discrimination detection" type="submit"
                            onclick="funcLoad(this)"
                            class="btn btn-outline-primary waves-effect" ;
                            style="margin-left: 50.4vh; width: 17vh">Analyze
                    </button>
                </form>
                <!-- Material form row -->
            {% else %}
                <div style="height: 82.5vh">
                    <div class="container animated fadeIn my-5 py-5 z-depth-1">
                        <h2 class="display-4 ">Error</h2>
                        <hr>
                        <p class="text-center alert-danger font-weight-bold">Categorization couldn't be
                            performed: {{ err }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
