{% extends 'base.html' %}
{% block content %}
    <header>
    <h1>Dataset List</h1>
    </header>
    <h5>Choose between the current datasets to start the discrimination Analysis or <a href="{% url 'upload_file' %}">upload one</a></h5>

    <table class="table table-striped table-hover table-sm w-auto">
    <thead>
      <tr>
        <th>Title</th>
        <th>Positive Decision column name</th>
        <th>Negative Decision column name</th>
        <th>Temporal Order table</th>
        <th>Delete</th>
        <th>Start Discrimination analysis</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>{{ file.file }}</td>
          <td>{{ file.posColumn }}</td>
            <td>{{ file.negColumn }}</td>
            <td>{{ file.temporalOrder }}</td>
          <td>
            <form method="post" action="{% url 'delete_file' file.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary waves-effect">Delete</button>
            </form>
          </td>
          <td>
              <form method="get" action="{% url 'start_disc' file.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-primary waves-effect">Analyze</button>
              </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}