{% extends 'base.html' %}
{%  load static %}

{% block content %}
  <!-- Start your project here-->
  <div style="height: 100vh">
    <div class="flex-center flex-column">
        <h1>Detecting Discrimination through Suppes-Bayes Causal Network</h1>
      <h1 class="text-hide animated fadeIn mb-4" style="background-image: url({% static 'img/eureucat_logo.jpg' %}); width: 520px; height: 222px;"></h1>
      <h5 class="animated fadeIn mb-3">A bachelor's thesis by Blai Ras in collaboration with Eurecat</h5>
      <p class="animated fadeIn text-muted">Feel free to test our platform starting with <a href="files/upload">a data upload</a>, or check <a href="files/"> current valid Datasets</a></p>
    </div>
  </div>


  <!-- End your project here-->
{% endblock %}