{% extends 'base.html' %}
{% block content %}
    <header>
        <h1 class="font-weight mb-4 p-2">Page Rank Score</h1>
        <a class="waves-effect p-2" onclick="window.history.go(-1)">
            <i style="color: black" class="fas fa-arrow-circle-left fa-2x"></i>
        </a>
    </header>

    {% if reason != "" %}
        <div style="height: 66.7vh">
            <div class="container animated fadeIn my-5 py-5 z-depth-1">
                <h2 class="display-4 ">Error</h2>
                <hr>
                <p class="text-center alert-danger font-weight-bold">{{ reason }}</p>
            </div>
        </div>
    {% else %}
        <h5 class="font mb-4 p-2">Scoring lasted {{ elapsed }} "</h5>
        <div class="container mt-5">
            <section class="dark-grey-text text-center">
                <h3 class="font-weight-bold mb-4 pb-2">{{ name }}</h3>
                <div class="row">
                    <div class="view zoom">
                        <a href="./../.././media/distplot.png" data-size="2388x1955">
                            <img src="./../.././media/distplot.png" class="img-fluid">
                        </a>
                    </div>
                    <div>
                        <div class="view zoom">
                            <div class="view zoom">
                                <a href="./../.././media/BoxPlot.png" data-size="2388x1955">
                                    <img src="./../.././media/BoxPlot.png" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a href="./../.././media/smallPoints.png" data-size="2388x1955">
                        <img src="./../.././media/smallPoints.png" class="img-fluid">
                    </a>
                </div>
            </section>
        </div>
    {% endif %}
    <body>
    </body>

{% endblock %}