
{% extends 'base.html' %}
{% block content %}
<header>
    <h1 class="font-weight mb-4 p-2">Page Rank Score</h1>
    <h5 class="font mb-4 p-2">Scoring lasted {{ elapsed }} "</h5>
    <!--<input class="btn btn-outline-primary waves-effect" action="action" onclick="; return false;" type="submit" value="" /-->
    <a class="waves-effect p-2" onclick="window.history.go(-1)">
        <i style="color: black" class="fas fa-arrow-circle-left fa-2x"></i>
    </a>
</header>
    {% if reason != "" %}
        <p class="text-center alert-danger font-weight-bold">{{ reason }}</p>
    {% else %}
        <div class="container mt-5">
          <!--Section: Content-->
          <section class="dark-grey-text text-center">
            <!-- Section heading -->
            <h3 class="font-weight-bold mb-4 pb-2">{{ name }}</h3>
            <!-- Section description -->
            <!-- Grid row -->
            <div class="row">
                  <div class="view zoom">
                    <a href="./../.././media/bigPoints.png" data-size="2388x1955">
                      <img src="./../.././media/smallPoints.png" class="img-fluid">
                    </a>
                  </div>
                  <!-- Card image -->
              <!-- Fourth column -->
            </div>
              <div class="row">
                  <div class="view zoom">
                    <a href="./../.././media/BoxPlot.png" data-size="2388x1955">
                      <img src="./../.././media/BoxPlot.png" class="img-fluid">
                    </a>
                  </div>
                  <!-- Card image -->
              <!-- Fourth column -->
            </div>
          </section>
          <!--Section: Content-->
        </div>
    {% endif %}
<body>

</body>

{% endblock %}